@import url(../../vendor/Railroad/stylesheet.css);

@keyframes ani {
  0% {opacity: 0.3;}
  100% {opacity: 1;}
}

@keyframes ani2 {
  0% {opacity: 0.5;}
  100% {opacity: 0.7;}
}

@keyframes fade2 {
  0% {opacity: 0.2;}
  10% {
    opacity: 0.9;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}

.game__content {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  max-height: 800px;
  /*max-height: 900px;*/
  position: relative;
  background: #1a1919;
  overflow: hidden;
}

@media screen and (max-width: 1440px) {
  .game__content {
    height: 60vw;
  }
}

.game__pic {
  object-fit: cover;
  object-position: right bottom;
  animation: fade2 1 9s;
  width: 1400px;
  height: 900px;
}

@media screen and (max-width: 1480px) {
  .game__pic {
    width: calc(100vw - 40px);
    height: calc(66vw - 40px);
  }
}

.game__text2 {
  font-size: 24px;
  margin: 10px 0 0 0;
  color: #e3ded5;
  padding-left: 30px;
  padding-right: 30px;
}

.game__stageText {
  font-size: 28px;
  margin: 10px 0;
  color: #ffa500;
  text-shadow: 1px 8px 1px #2b2b2b;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.game__name {
  font-size: 24px;
  margin: 10px 0;
  color: #e3ded5;
  text-align: center;
  padding: 0 10px;
}

.game__save {
  background-color: #1a1919;
  width: 200px;
  align-self: center;
  margin: 10px 0 0;
  height: 36px;
}

.game__saveText {
  font-size: 24px;
  color: #e3ded5;
  align-self: center;
  margin: 0;
  text-align: center;
}

.game__choise {
  font-size: 26px;
  color: #e3ded5;
  padding: 4px 0 4px 30px;
  /*background-color: #1a1919;*/
  background-color: #5b4e4eba;
  padding-left: 30px;
  padding-right: 30px;
  margin: 2px;
}

.game__choise:first-of-type {
  margin-top: 10px;
}

.game__choise:hover {
  cursor: pointer;
  opacity: 0.7;
  background-color: rgb(90, 90, 126);
  transition: 0.5s;;
}

.game__text1 {
  margin-top: 14px;
  font-size: 28px;
  color: #ffa500;
  padding-left: 30px;
  opacity: 0.6;
}

.game__fone {
  object-fit: cover;
  object-position: right bottom;
  width: 1400px;
  height: 800px;
  border-radius: 20px;
  z-index: 0;
  position: absolute;
  opacity: 0.1;
  border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.game__textBlock {
  max-width: 1440px;
  width: 100%;
  min-height: 190px;
  background: #5b4e4e;
  opacity: 0.8;
  position: relative;
  top: -192px;
  border-radius: 0 0 20px 20px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #1a1919c9;
}

.game__dialogBlock {
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  width: 100%;
  height: 100%;
  background-color: #1a1919c9;
}

.game__infoBlock {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  width: 100%;
  min-width: 200px;
  height: 100%;
  align-items: center;
  background-color: #5b4e4eba;
}

.game__smallText {
  font-size: 16px;
  color: #ffa500;
  opacity: 0.6;
  margin: 0;
}

.game__skip:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.5s ease;
}

.game__figure {
  height: 740px;
  z-index: 1;
  position: absolute;
  left: 90px;
  bottom: 20px;
}

@media screen and (max-width: 1480px) {
  .game__figure {
    height: calc(56vw);
    bottom: 0;
    top: 90px;
  }
}

.game__figure2 {
  height: 700px;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  right: 90px;
}

@media screen and (max-width: 1480px) {
  .game__figure2 {
    height: calc(56vw);
    bottom: 0;
    top: 90px;
  }
}

.game__figure3 {
  height: 740px;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  right: 290px;
}

.game__figure4 {
  height: 670px;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  right: 90px;
}

@media screen and (max-width: 1480px) {
  .game__figure3 {
    height: calc(56vw);
    bottom: 0;
    top: 90px;
  }
}

@media screen and (max-width: 1480px) {
  .game__fone {
    width: calc(100vw - 40px);
    height: calc(66vw - 40px);
  }
}

.game__skip {
  height: 40px;
  width: 50px;
  z-index: 3;
  opacity: 0.7;
  position: absolute;
  align-self: flex-end;
  top: 130px;
  right: 20px;
}

.game__skip:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s ease;
}
