@import url(../../vendor/Railroad/stylesheet.css);

.newGameScreen__content {
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  /*max-height: 900px;*/
  position: relative;
  background: #1a1919;
  padding-top: 170px;
  color: rgb(100 100 98);
  min-height: 780px;
}

@media screen and (max-width: 1100px) {

  .newGameScreen__content {
    flex-direction: column;
  }
}

@media screen and (max-width: 620px) {

  .newGameScreen__content {
    padding-top: 100px;
  }
}

.newGameScreen__textblock-content {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  /*max-height: 900px;*/
  position: relative;
  background: #1a1919;
  /*padding-top: 170px;*/
  color: rgb(100 100 98);
  min-height: 780px;
}

@media screen and (max-width: 1100px) {

  .newGameScreen__textblock-content {
    min-height: auto;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {

  .newGameScreen__textblock-content {
    padding: 0 12px;
  }
}

.newGameScreen__pic {
  height: 700px;
  margin: 20px 50px;
  z-index: 2;
}

@media screen and (max-width: 1100px) {

  .newGameScreen__pic {
    display: none;
  }
}

.newGameScreen__title {
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 4px;
}

@media screen and (max-width: 550px) {

  .newGameScreen__title {
    font-size: 26px;
    margin-bottom: 8px;
  }
}

.newGameScreen__last-text {
  font-size: 52px;
  margin-bottom: 20px;
  margin-top: 150px;
  max-width: 480px;
  width: 100%;
}

@media screen and (max-width: 550px) {

  .newGameScreen__last-text {
    font-size: 28x;
    margin-top: 50px;
    text-align: center;
  }
}

.newGameScreen__text {
  font-size: 28px;
  margin: 0;
}

@media screen and (max-width: 550px) {

  .newGameScreen__text {
    font-size: 22px;
  }
}

.newGameScreen__small-text {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.newGameScreen__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.newGameScreen__button {
  color: rgb(51 50 50);
  background-color: #ffa500;
  max-width: 480px;
  width: 100%;
  height: 60px;
  margin: 20px 0;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
}

.newGameScreen__button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
}

.newGameScreen__button-block {
  width: 480px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
}

@media screen and (max-width: 560px) {

  .newGameScreen__button-block {
    flex-direction: column;
    align-items: center;
  }
}

.newGameScreen__small-button {
  color: rgb(51 50 50);
  background-color: #ffa500;
  width: 230px;
  height: 86px;
  margin: 20px 0;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
}

.newGameScreen__small-button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
}

.newGameScreen__input {
  background: white;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  color: #000;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 17px;
  max-width: 480px;
  width: 100%;
  height: 60px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 20px;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 20px;
}
