@import url(../../vendor/Railroad/stylesheet.css);

@keyframes ani {
  0% {opacity: 0.3;}
  100% {opacity: 1;}
}

@keyframes ani2 {
  0% {opacity: 0.5;}
  100% {opacity: 0.7;}
}

@keyframes fade2 {
  0% {opacity: 0.2;}
  10% {
    opacity: 0.9;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}

.newGameScreen__content {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  /*max-height: 900px;*/
  position: relative;
  background: #1a1919;
  padding-top: 200px;
  color: rgb(100, 100, 98)
}

.newGameScreen__form {
  display: flex;
  flex-direction: column;
}

.newGameScreen__button {
  color: rgb(51, 50, 50);
  background-color: #ffa500;
  width: 400px;
  height: 60px;
  margin: 20px 0;
  border-radius: 20px;
  font-size: 20px;
}

.newGameScreen__button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
}

.newGameScreen__button-block {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
}

.newGameScreen__small-button {
  color: rgb(51, 50, 50);
  background-color: #ffa500;
  width: 180px;
  height: 140px;
  margin: 20px 0;
  border-radius: 20px;
  font-size: 20px;
}

.newGameScreen__small-button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
}

.newGameScreen__input {
  background: white;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 400px;
  height: 60px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 20px;
  border-radius: 10px;
}

.main__title {
  color: #ffa500;
  background-color: rgb(51, 50, 50);
  border-radius: 20px 20px 0 0;
  position: absolute;
  box-sizing: border-box;
  padding: 30px 70px 56px 0;
  opacity: 0.8;
  font-size: 50px;
  z-index: 1;
  margin: 0;
  font-weight: 800;
  width: 1480px;
  text-align: end;
  margin: 0;
  left: -40px;
}

@media screen and (max-width: 1480px) {
  .main__title {
    width: calc(100vw - 20px);
    /*height: calc(66vw - 40px);*/
  }
}

.main__subtitle {
  color: #ffa500;
  position: absolute;
  box-sizing: border-box;
  opacity: 0.4;
  font-size: 24px;
  z-index: 2;
  margin: 0;
  font-weight: 400;
  width: 1480px;
  text-align: end;
  margin: 0;
  left: -110px;
  top: 100px;
}

.main__menu {
  color: white;
  background-color: rgb(51, 50, 50);
  border-radius: 20px 0 0 20px;
  position: absolute;
  top: 00px;
  left: -40px;
  opacity: 0.8;
  font-size: 50px;
  z-index: 1;
  width: 500px;
  height: 900px;
}

.main__logo {
  position: absolute;
  top: 20PX;
  left: 20PX;
  width: 240PX;
  opacity: 0.7;
  z-index: 2;
}

@media screen and (max-width: 1480px) {
  .main__menu {
    /*width: calc(100vw - 40px);*/
    height: calc(66vw - 40px);
  }
}

.main__pic {
  object-fit: cover;
  object-position: right bottom;
  animation: fade2 1 9s;
  width: 1400px;
  height: 900px;
  border-radius: 20px;
}

@media screen and (max-width: 1480px) {
  .main__pic {
    width: calc(100vw - 40px);
    height: calc(66vw - 40px);
  }
}

.main__fone {
  object-fit: cover;
  object-position: right bottom;
  width: 1400px;
  height: 900px;
  border-radius: 20px;
  z-index: 0;
  position: absolute;
  opacity: 0.1;
  border: 1px solid gray;
}

@media screen and (max-width: 1480px) {
  .main__fone {
    width: calc(100vw - 40px);
    height: calc(66vw - 40px);
  }
}
