@import url(../../vendor/Railroad/stylesheet.css);

@keyframes ani {
  0% {opacity: 0.3;}
  100% {opacity: 1;}
}

@keyframes ani2 {
  0% {opacity: 0.5;}
  100% {opacity: 0.7;}
}

@keyframes fade2 {
  0% {opacity: 0.2;}
  10% {
    opacity: 0.9;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}

.game__content {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  /*max-height: 900px;*/
  position: relative;
  background: #1a1919;
}

.game__menu {
  color: white;
  background-color: rgb(51, 50, 50);
  border-radius: 20px 0 0 20px;
  position: absolute;
  top: 00px;
  left: -510px;
  opacity: 0.8;
  font-size: 50px;
  z-index: 1;
  width: 500px;
  height: 900px;
}

@media screen and (max-width: 1480px) {
  .game__menu {
    /*width: calc(100vw - 40px);*/
    height: calc(66vw - 40px);
  }
}

.main__pic {
  object-fit: cover;
  object-position: right bottom;
  animation: fade2 1 9s;
  width: 1400px;
  height: 900px;
  border-radius: 20px;
}

.game__text {
  margin-top: 200px;
  font-size: 32px;
  color: #ffa500;
  padding-left: 30px;
  opacity: 0.6;
}

.game__text1 {
  margin-top: 20px;
  font-size: 32px;
  color: #ffa500;
  padding-left: 30px;
  opacity: 0.6;
}

@media screen and (max-width: 1480px) {
  .main__pic {
    width: calc(100vw - 40px);
    height: calc(66vw - 40px);
  }
}

.game__fone {
  object-fit: cover;
  object-position: right bottom;
  width: 1400px;
  height: 900px;
  border-radius: 20px;
  z-index: 0;
  position: absolute;
  opacity: 0.1;
  border: 1px solid gray;
  left: -510px;;
}

@media screen and (max-width: 1480px) {
  .main__fone {
    width: calc(100vw - 40px);
    height: calc(66vw - 40px);
  }
}

.main__fact-block {
  position: absolute;
  top: 120px;
  right: -40px;
  z-index: 1;
  color: white;
  background: rgb(51, 50, 50);
  opacity: 0.6;
  border-radius: 15px 0 15px 15px;
  box-sizing: border-box;
  padding: 20px;
  animation: ani2 1 2s ease;
  width: 440px;
  min-height: 145px;
  margin: 0;
  font-size: 22px;
  box-sizing: border-box;
}

.main__fact-block p {
  /*margin: 0;*/
  color: rgb(251 237 158);
}

.main__button-block {
  border-radius: 20px 0 0 20px;
  position: absolute;
  top: 00px;
  left: 30px;
  /*opacity: 0.8;*/
  font-size: 50px;
  z-index: 2;
  width: 400px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  padding-top: 188px;
  box-sizing: border-box;
  gap: 60px;
}

.button {
  border: none;
  padding: 20px 40px;
  font-size: 44px;
  position: relative;
  background: transparent;
  color: #ffa500;
  text-transform: uppercase;
  border: 3px solid #ffa500;
  cursor: pointer;
  transition: all 0.7s;
  overflow: hidden;
  border-radius: 100px;
}

.button:hover {
  color: #000;
}

.span {
  transition: all 0.7s;
  z-index: -1;
}

.button .main__button-first {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 25%;
  height: 100%;
  background: #ffa500;
}

.button:hover .main__button-first {
  top: 0;
  right: 0;
}

.button .main__button-second {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  height: 100%;
  width: 25%;
  background: #ffa500;
}

.button:hover .main__button-second {
  top: 0;
  left: 50%;
}

.button .main__button-third {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  top: 100%;
  width: 25%;
  background: #ffa500;
}

.button:hover .main__button-third {
  top: 0;
  left: 25%;
}

.button .main__button-fourth {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 25%;
  background: #ffa500;
}

.button:hover .main__button-fourth {
  top: 0;
  left: 0;
}

.main__greetingText {
  color: #91843d;
  font-size: 26px;
}